<header class="header">
   <nav class="header-menu">
    <img class="header-menu__logo"src="./assets/images/MickyHeader.png" alt="disneyLogo">
    <div class="search">
      <input class="search__input js_search"type="text" name="search" placeholder="Ej:Mickey Mouse" id="search-input">
      <input class="search__button js_sbtn" type="button" value="Buscar">
      <input class="search__fav js_fbtn" type="button" value ="Favs">
      <input class="consoleBtn" type="button" value="console.log">
    </div>
  </nav>
</header>
