<main class="main">
    <section class="favorites">
      <input class="favorites__delete js_delete"type="button" value="Borrar Todos">
      <ul class="main__fav js_favsList">
      
        </ul>
    </section>
  <section class="pagination">
    <input class="back js_back" id="previousPage" type="button" value="Atrás">
    <p class="pages js_pages"></p>
    <input class="forward js_forward" id="nextPage" type="button" value="Siguiente">
  </section>

  <section class="characters">
    <ul class="main__list js_ulList">
      <li class="card">
        <a class="card__fav js_fav" href=""><i class="fa-solid fa-heart card__icon  "></i></a>
        <img class="card__img" src="./assets/images/Robin.jpg" alt="">
        <div class="card__separator">
        <h2 class="card__title">lalala</h2>
        </div>
      </li>
    </ul>
  </section>
</main>
