<main class="main">
  <section class="favorites js_favorites">
    <input
      class="favorites__delete js_delete"
      type="button"
      value="Borrar Todos"
    />
    <ul class="main__fav js_favsList"></ul>
  </section>
  <section class="pagination js_pagination">
    <input class="pagination__back js_back" id="previousPage" type="button" value="Atrás" />
    <span class="pagination__pages js_pages"></span>
    <input
      class="pagination__forward js_forward"
      id="nextPage"
      type="button"
      value="Siguiente"
    />
  </section>
  <section class="characters">
    <ul class="main__list js_ulList">
      <li class="card-warning">
        <img class="card-warning__img" src="./assets/images/Robin.jpg" alt="" />
        <div class="card-warning__separator">
          <h2 class="card-warning__text">¡Amigos, parece que nos encontramos con un pequeño revés tecnológico! Pero no temáis, en breve volvemos!</h2>
        </div>
      </li>
    </ul>
  </section>
</main>
