<main class="main">
    <section class="favorites">
      <ul class="main__fav js_favsList">
      
        </ul>
    </section>
  <div class="separator"></div>

  <section class="characters">
    <ul class="main__list js_ulList">
      <li class="card">
        <a class="card__fav js_fav" href=""><i class="fa-solid fa-heart card__icon  "></i></a>
        <img class="card__img" src="./assets/images/Robin.jpg" alt="">
        <div class="card__separator">
        <h2 class="card__title">lalala</h2>
        </div>
      </li>
    </ul>
  </section>
</main>
