.header {
  background-color: white;
}
.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop() {
    flex-direction: row;
    justify-content: space-around;
  }
  &__logo {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 20px;
    @include tablet() {
      width: 400px;
    }
    @include desktop() {
      width: 300px;
    }
  }
}
.search {
  margin-bottom: 20px;

  &__input {
    font-family: $font-main;
    font-size: 1.5rem;
    height: 25px;
    margin-left: 15px;
    @include tablet() {
      height: 30px;
      width: 400px;
      font-size: 1.8rem;
    }
    @include desktop() {
      width: 500px;
      height: 30px;
      font-size: 2rem;
    }
  }
  &__button {
    font-family: $font-main;
    height: 25px;
    background-color: #4567ae;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    @include tablet() {
      height: 30px;
      font-size: 1.8rem;
      width: 70px;
    }
    @include desktop() {
      font-size: 1.8rem;
      width: 90px;
    }
    &:hover {
      background-color: #1eadcf;
    }
  }
  &__fav {
    font-family: $font-main;
    background-color: #4567ae;
    color: white;
    margin-left: 1px;
    height: 25px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    @include tablet() {
      height: 30px;
      font-size: 1.8rem;
      width: 70px;
      margin-left: 15px;
    }
    @include desktop() {
      font-size: 1.8rem;
      width: 90px;
      margin-left: 50px;
    }
    &:hover {
      background-color: #1eadcf;
    }
  }
}
