.header {
  background-color: white;
}
.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    width: 200px;
  }
}




.search__fav {
  width: 100px;
  height: 50pxpx;
}