.header{
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  &-header {
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 40px 20px;
}
